#build
list1/build
list2/build
list3/build
/build

#vscode
list1/.vscode

#python caching
list4/src/__pycache__/
list5/src/__pycache__/Leven.cpython-38.pyc
list6/src/__pycache__/
list7/src/__pycache__/
list8/src/__pycache__/
list8/src/helpers/__pycache__/
list8/src/*.log
list9/src/__pycache__
list9/src/helpers/__pycache__
list9/src/helpers/data_record.py
list9/src/helpers/file_parser.py
list9/src/helpers/logger.py
list9/src/*.log